doctype html
html
  head
    title Sidharth Dance Academy
    block scripts
    block style 
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/3.png")
                | SDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/contact") Contact]
            li #[a(href="/") Class info]
            li #[a(href="/") Services]
    block content
    footer#footer 
        | Copyright © 2021 SidharthDanceAcademy.com | All rights reserved
  
    